<!DOCTYPE html>
<html>
    <head>
        <title><%=surer %> <%=namer %> <%=klasser %>. Достижения <%=vtoroe %></title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/dost.css" type="text/css">
    </head>
    <body id="vueapp10">
        <%- include("partials/header.ejs") %>
        <div id="mainer">
            <h2><%=surer %> <%=namer %> <%=klasser %>. Достижения <%=vtoroe %></h2>
            <div id="bloki"><%-tretie %></div>
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script src="/script10.js"></script>
    </body>
</html>
